<div class="row">
    <h4>Edit user</h4>
    <hr/>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |error| %>
                <span><%= error %></span><br/>
            <% end %>
        </div>
    <% end %>
    <%= form_for @user do |f| %>

        <div class="form-group">
            <%= f.label :email  %>
            <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :name  %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :avatar  %>
            <%= f.file_field :avatar %>
        </div>
        <div class="form-group">
            <%= f.submit "Upload", class: 'btn btn-sm btn-default col-md-12' %>
        </div>
    <% end %>

</div>